{# Display the environment configuration values using a hook theme function #}
{#{% load static %}#}

{#<link rel="stylesheet" href="{{ asset('css/php_memory_readiness_checker.css') }}">#}
<h3>Total Enabled Modules' Memory Size in Disk: {{ modules_size }} </h3>
<ol>
  {% for key, config in each_module %}
    <li>{{ key }}: {{ config }}</li>
  {% endfor %}
</ol>

<h3>Environment Configuration:</h3>
<ol>
  {% for key, config in environment_configuration %}
    <li>{{ key }}: {{ config }}</li>
  {% endfor %}
</ol>
